/euler-addresses.json
/euler-addresses-*.json
/node_modules/
/artifacts/
/cache/
/.idea/
/coverage.json
/coverage/
## FIXME: lock package versions
/package-lock.json
.DS_Store
.env
notes.txt
/generated/
/specs/.certora_config/
/specs/.last_confs/
/specs/.certora_build.json
/specs/.certora_metadata.json
/specs/.certora_verify.json
/specs/.certora_recent_jobs.json
/specs/*.zip
